@using TestTaskWaveAccess.Models
@model IndexViewModel
@{
    ViewData["Title"] = "Movies";
}

<div class="text-center">
    <h1 class="display-4">Movies</h1>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Release year</th>
            <th>Description</th>
            <th>Rating</th>
        </tr>
        @foreach (Movie movie in Model.Movies)
        {
            <tr>
                <td>@movie.MovieId</td>
                <td>@movie.Title</td>
                <td>@movie.ReleaseYear</td>
                <td>@movie.Description</td>
                <td>@movie.AverageRating</td>
            </tr>
        }

    </table>
</div>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Back
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-dark">
        Next
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}